.footBox{position: relative;
padding-top: 50px;
box-sizing: border-box;
width: 100%;height: 150px;
background-color: #fff;}

.footBox>ul{margin: auto;
width: 1200px;height: 100%;}
.footBox>ul>li{float:left;
width: 400px;height: 100%;}
.footBox>ul>li>dl{
width: 100%;height: 100%;
}
.footBox>ul>li>dl>dt{
font-size: 0.8rem;
font-weight: bold;
}
.footBox>ul>li>dl>dd{
padding-top: 10px;
box-sizing: border-box;
font-size: 0.8rem;
font-weight: 400;
}

.footBox>ul>li:last-child>dl>dd{float:left;
margin-right: 30px;}