.contactBox{width: 100%;
height: 500px;
background-image: url(../../img/download-12.jpg);
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
background-size: cover;
}

.contactBox>h2{
padding-top: 100px;
box-sizing: border-box;
color:#fff;
font-size: 3rem;
text-align: center;
font-weight: bold;
}


.contactBox>p{
padding-top: 50px;
padding-bottom: 50px;
box-sizing: border-box;
color:#fff;
font-size: 1.5rem;
text-align: center;
}

.contactBox>button{
width: 200px;height: 70px;
margin: auto;display: block;
text-align: center;
line-height: 70px;
color:#fff;
font-size: 1rem;
font-weight: bold;
border:3px solid #fff;}


.contactBox>button {
  display: block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.contactBox>button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transform: scaleX(0);
  transform-origin: 0% 100%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.contactBox>button:hover, 
.contactBox>button:focus, 
.contactBox>button:active {
  color: #000;line-height:70px; text-align: center;
font-size: 1rem; font-weight: bold;
}
.contactBox>button:hover:before, 
.contactBox>button:focus:before, 
.contactBox>button:active:before {
  transform: scaleX(1);
}

