.introBox{padding-top: 30px;
box-sizing: border-box;
width: 1200px; margin: auto;
height: 570px;
background-color: #fff;}
.introBox>ul{width: 100%;
height: 100%;}
.introBox>ul>li{float:left;
width: 500px;height: 100%;}
.introBox>ul>li:nth-of-type(2){
background-image: url(../../img/rb_logo.png);
background-repeat: no-repeat;
-webkit-background-size:contain;
background-size:contain;
background-position: center;
}
.enp{font-size: 1.7rem;
color:#bbb; 
padding: 70px 50px 10px; box-sizing: border-box;}
.krp{font-size: 1rem;
padding:10px 50px 50px; box-sizing: border-box;}


.hire{
display: block;
width: 150px;height: 70px; color:#000;
border:2px solid #000;
margin-left: 50px;
color:#000;line-height: 70px;
font-size: 1rem;
border: 3px solid #000;
transform: translateZ(0);
backface-visibility: hidden;
vertical-align: middle;
position: relative;
transition-property: color;
transition-duration: 0.3s;}

.hire:before{
content:" ";
position: absolute;
z-index: -1;
top:0;
left:0;
right:0;
bottom:0;
background-color: #000;
transform:scaleX(0);
transform-origin: 0% 100%;
transition-property: transform;
transition-duration: 0.5s;
transition-timing-function: ease-out;
}

.hire:hover,
.hire:focus,
.hire:active{
color:#fff; line-height: 80px;
text-align: center;
font-size: 1rem;
}
.hire:hover:before, 
.hire:focus:before, 
.hire:active:before {
  transform: scaleX(1);
}
