.workBox{padding-top: 20px;
box-sizing: border-box;
width: 100%;
height: 600px;
background-color: #fff;}
.workBox>ul{width: 1200px;
height: 100%;margin: auto;}
.workBox>ul>li{float:left;
width: 22%; margin-left:3%;
height: 48%; margin-bottom: 2%;
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: contain;
background-size: contain;}

.workBox>ul>li>a{display: block;
width: 100%;height: 100%;}
.workBox>ul>li:nth-of-type(1){
background-image: url(../../img/download-1.jpg);
}
.workBox>ul>li:nth-of-type(2){
background-image: url(../../img/download-2.jpg);
}
.workBox>ul>li:nth-of-type(3){
background-image: url(../../img/download-3.jpg);
}
.workBox>ul>li:nth-of-type(4){
background-image: url(../../img/download-4.jpg);
}
.workBox>ul>li:nth-of-type(5){
background-image: url(../../img/download-5.jpg);
}
.workBox>ul>li:nth-of-type(6){
background-image: url(../../img/download-6.jpg);
}
.workBox>ul>li:nth-of-type(7){
background-image: url(../../img/download-7.jpg);
}
.workBox>ul>li:nth-of-type(8){
background-image: url(../../img/download-8.jpg);
}


.workBox>ul>li:nth-of-type(1):before{content:"UI/UX";}
.workBox>ul>li:nth-of-type(2):before{content:"Campaign";}
.workBox>ul>li:nth-of-type(3):before{content:"Movie";}
.workBox>ul>li:nth-of-type(4):before{content:"Print Package";}
.workBox>ul>li:nth-of-type(5):before{content:"Book&Print";}
.workBox>ul>li:nth-of-type(6):before{content:"Illust&Graphic";}
.workBox>ul>li:nth-of-type(7):before{content:"with ACG";}
.workBox>ul>li:nth-of-type(8):before{content:"with ACG";}



.workBox>ul>li {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
}
.workBox>ul>li:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  transform: scaleX(0);
  transform-origin: 50% 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.workBox>ul>li:hover, 
.workBox>ul>li:focus, 
.workBox>ul>li:active {
  color: #fff;line-height:300px; text-align: center;
font-size: 1rem; font-weight: bold;
}
.workBox>ul>li:hover:before, 
.workBox>ul>li:focus:before, 
.workBox>ul>li:active:before {
  transform: scaleX(1);
}













