.worksBox{padding-top: 100px;
box-sizing: border-box;
width: 1200px;
margin: auto;
height: 1000px;
background-color: #fff;}
.worksBox>h2{
font-size: 3rem;
text-align: center;
font-weight: bold;
}

.title{width: 600px;height: 50px;
margin: auto;
}

.title>ul{margin-top: 30px;
width: 100%;
height: 100%;}

.title>ul>li{float:left;
width: 150px;height: 100%;}
.title>ul>li>a{text-align: center;
line-height: 50px; 
font-size: 0.8rem;
color:#ccc;
font-weight: bold;}

.content{width: 1200px;height: 950px;
margin: auto;
background-color: #fff;}

.content>ul{width: 100%;
height: 100%;}

.content>ul>li{
float:left;
width: 22%;height: 300px;
margin-right: 3%;
background-repeat: no-repeat;
-webkit-background-size: contain;
background-size: contain;
background-position: center;
}


.content>ul>li:last-child{margin-right: 0}

.content>ul>li:nth-of-type(1){
background-image: url(../../../img/download-30.jpg);
}

.content>ul>li:nth-of-type(2){
background-image: url(../../../img/download-31.jpg);
}

.content>ul>li:nth-of-type(3){
background-image: url(../../../img/download-32.jpg);
}

.content>ul>li:nth-of-type(4){
background-image: url(../../../img/download-33.jpg);
}

.content>ul>li:nth-of-type(5){
background-image: url(../../../img/download-34.jpg);
}

.content>ul>li:nth-of-type(6){
background-image: url(../../../img/download-35.jpg);
}

.content>ul>li:nth-of-type(7){
background-image: url(../../../img/download-36.jpg);
}

.content>ul>li:nth-of-type(8){
background-image: url(../../../img/download-37.jpg);
}

.content>ul:nth-of-type(1)>li:nth-of-type(8){
background-image: url(../../../img/download-45.jpg);
}

.content>ul:nth-of-type(1)>li:nth-of-type(9){
background-image: url(../../../img/download-65.jpg);
}

.content>ul:nth-of-type(1)>li:nth-of-type(10){
background-image: url(../../../img/download-66.jpg);
}

.content>ul:nth-of-type(1)>li:nth-of-type(11){
background-image: url(../../../img/download-67.jpg);
}

.content>ul:nth-of-type(1)>li:nth-of-type(12){
background-image: url(../../../img/download-68.jpg);
}
.contentUl>li>dl{
display: none;
transition:all 300ms ease-out;
margin-top: 200px;
margin-left: 30px;
width: 100%;height: 100px;
z-index: 9999;
}


.contentUl>li>dl.show{
display: block;
}
.contentUl>li>dl>dt{
font-size: 0.9rem;
color:#000;
z-index: 999;
}

.contentUl>li>dl>dd{
margin-top: 10px;
font-size: 1.5rem;
color:#000;
font-weight: bold;
z-index: 999;
}

.contentUl{display: none;}
.contentUl.active{display: block;}




.content>ul:nth-of-type(2)>li:nth-of-type(1){
background-image: url(../../../img/download-38.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(2){
background-image: url(../../../img/download-39.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(3){
background-image: url(../../../img/download-40.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(4){
background-image: url(../../../img/download-41.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(5){
background-image: url(../../../img/download-42.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(6){
background-image: url(../../../img/download-43.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(7){
background-image: url(../../../img/download-44.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(8){
background-image: url(../../../img/download-45.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(9){
background-image: url(../../../img/download-65.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(10){
background-image: url(../../../img/download-66.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(11){
background-image: url(../../../img/download-67.jpg);
}

.content>ul:nth-of-type(2)>li:nth-of-type(12){
background-image: url(../../../img/download-68.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(1){
background-image: url(../../../img/download-46.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(2){
background-image: url(../../../img/download-47.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(3){
background-image: url(../../../img/download-48.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(4){
background-image: url(../../../img/download-49.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(5){
background-image: url(../../../img/download-50.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(6){
background-image: url(../../../img/download-51.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(7){
background-image: url(../../../img/download-52.jpg);
}

.content>ul:nth-of-type(3)>li:nth-of-type(8){
background-image: url(../../../img/download-53.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(1){
background-image: url(../../../img/download-54.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(2){
background-image: url(../../../img/download-55.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(3){
background-image: url(../../../img/download-56.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(4){
background-image: url(../../../img/download-57.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(5){
background-image: url(../../../img/download-58.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(6){
background-image: url(../../../img/download-59.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(7){
background-image: url(../../../img/download-60.jpg);
}

.content>ul:nth-of-type(4)>li:nth-of-type(8){
background-image: url(../../../img/download-61.jpg);
}









